/* *{
    margin: 0px;
    padding: 0px;
}
h1{
    text-align: center;
}
.main{
    display: inline;
    margin: 10%;
}
.card{
    display: inline-block;
    width: 23%;
    height: 150px;
    background-color: rgb(245, 10, 46);
    
}

.card:hover{
    box-shadow: 10px 10px 10px gray;
   
}
p:hover{
 color: brown !important;
 text-shadow: 3px 3px 10px yellow;
}
p{
    text-align: center;
    color: white;
  
}


img{
    width: 20%;
    margin:5px auto;
    display: block;
    border-radius: 20px;
    height: 200px;
}
li{
    display: inline-block;
} */
 /* div{
    height: 300px;
    width: 300px;
    margin: 20px;
    background-color: red;
    box-shadow: 100px 10px 10px inset yellow;
 } */
  /* ol{ */
    /* list-style-position: inside; */
    /* list-style-image: url("./star.png");
    list-style-type: decimal-leading-zero; */
    /* list-style:  url("star2.png") circle inside; */
   
    /* list-style-typ:; */
  /* } */

  table{

    border: 1px dashed red;
    border-radius: 10px;
    /* width: 50%; */
    width: fit-content;
    height: 400px;
    margin: auto;
    empty-cells: hide;
    border-spacing: 20px;
    border-collapse: separate;
  
    /* padding: 20px; */
  }

  td{
    border: 1px solid red;
     /* border-radius: 100px; */
    color: brown;
    padding: 20px;
    width: fit-content;
      
  }